*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container
{
    margin-top: 200px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}
.col1
{
    border: 5px solid white;
    color: white;
    padding: 30px 30px 30px 30px;
    font-size: 40px;
}
body
{
    background-color: black;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.disabled
{
    pointer-events: none;
}
h1
{
    padding-right: 100px;
}
#reserved
{
    width: 120px;
    height: 70px;
    margin-left: 60px;
    font-size: 25px;
}
.abled
{
    pointer-events:visible;
}
#d1
{
    border-top: none;
    border-left: none;
}
#d2
{
    border-top: none;
}
#d3
{
    border-right: none;
    border-top: none;
}
#d4
{
    border-top: none;
    border-left: none;
}
#d6
{
    border-right: none;
    border-top: none;
}
#d7
{
    border-left: none;
    border-bottom: none;
}
#d8
{
    border-bottom: none;
}
#d9
{
    border-bottom: none;
    border-right: none;
}
.borderbox
{
box-shadow: 5px 5px 10px 10px lightblue;
}